<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Red Hot Groove {% endblock %}</title>
        <script defer src="js/index.js"></script>
        </head>
        <body>
            {% block content%}
            <section id="Psw-Reset-Request">
                <h1>Password Reset Request</h1>
                <form id="Psw-Reset-Request-form" method="post">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    <button type="submit" id="Psw-Reset-Request-button">Submit</button>
                </form>
            </section>
            {% endblock %}
        </body>
</html>